@import "tailwindcss";

* {
  box-sizing: border-box;
}

.contenr {
  max-width: 1300px;
  width: 100%;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
}

.background-canvas {
  position: fixed;
  inset: 0;
  background: #000;
  z-index: -1;
}
